.content {
  flex: 1;
  height: 100%;
  padding: 20px;
  background-color: #f1f1f1;
}

.demo-chart {
  height: 200px;
  width: 500px;
}


.spinner {
  animation: rotation 2s linear infinite;
  z-index: 10;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px
}

.spinner .path {
  stroke: #1E3F85;
  stroke-linecap: round;
  animation: spinner 1.5s ease-in-out infinite
}

@keyframes rotation {
  to {
      transform: rotate(360deg)
  }
}

@keyframes spinner {
  0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0
  }

  50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35
  }

  to {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124
  }
}

.btn-panel-manage {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  text-align: start;
  background-color: transparent;
  color: #1E2124  !important;
}

.btn-panel-manage:hover, .btn-panel-manage:active {
  background-color: #1E3F85;
  color: #f5f5f5 !important;
}

.btn-panel-manage i {
  font-size: 28px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.charts-height {
  height: 400px;
}