@font-face {
  font-family: Roboto;
  src: url(../src/assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../src/assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(../src//assets//fonts/RobotoCondensed/RobotoCondensed-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(../src//assets//fonts/RobotoCondensed/RobotoCondensed-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: ProtestStrike;
  src: url(../src//assets//fonts/ProtestStrike/ProtestStrike-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: RobotoCondensed;
  background-color: #1E3F85;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, p, span, label {
    color: #1E2124 !important;
}

.btn {
  border-radius: 3px;
  outline: none;
  border: none;
}

.row {
    --bs-gutter-x: 0;
}

.form-label {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

.accordion {
	--bs-accordion-border-color: 0;
	--bs-accordion-inner-border-radius: 3px;
} 

body.swal2-shown {
  overflow-y: scroll !important;
  padding-right: 0 !important;
}