<div class="container content">
	<app-breadcrumb [listPages]="pages" [titlePage]="title"></app-breadcrumb>
	<h1 class="mb-3">{{title}}</h1>
  <ng-template [ngIf]="isViewLoaded" [ngIfElse]="elseBlockViewLoaded">
    <div class="row mb-2">
      <ng-template [ngIf]="enableEditItem" [ngIfElse]="elseBlockEditItem">
        <div class="d-flex flex-row-reverse gap-2">
          <button type="button" class="btn btn-primary" (click)="ngOnEditItemSave()"><i class="bi bi-check-lg"></i>Guardar cambios</button>
          <button type="button" class="btn btn-secondary" (click)="ngOnEditItemCancel()"><i class="bi bi-x-lg"></i>Deshacer cambios</button>
        </div>
      </ng-template>
      <ng-template #elseBlockEditItem>
        <div class="d-flex flex-row-reverse gap-2">
          <button *ngIf="project.id_projectStatus.name === 'created'" type="button" class="btn btn-edit-item tooltip-info" (click)="ngOnEditItem()">
            <i class="bi bi-pencil-square"></i>Editar
            <span class="tooltiptext">Puedes editar tu solicitud siempre y cuando este en estado [Creado]</span>
          </button>
        </div>
      </ng-template>
    </div>
      <div class="row">
        <div class="col-4">
          <div class="card profile-basic-info me-2 p-3 shadow">
            <div class="text-center mt-2 mb-3">
              <!-- <img class="profile-image rounded-circle" src="{{user.image}}" alt="Student Photo"> -->
              <h2 class="user-fullname">{{project.name}}</h2>
            </div>
            <div class="row mb-2">
              <div class="col-4">
                Solicitante:
              </div>
              <div class="col-8">
                {{project.id_user.username}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row mb-2">
            <div class="card profile-general-info ms-2 shadow">
            <div class="card-header"><i class="bi bi-stack"></i>Información General</div>
            <div class="card-body">
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Solicitante:
                </div>
                <div class="col-6 ps-2">
                  {{project.id_user.username}}
                </div>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Nombre del solicitante:
                </div>
                <div class="col-6 ps-2">
                  {{project.id_user.first_name}} {{project.id_user.last_name}}
                </div>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Nombre del proyecto:
                </div>
                <div *ngIf="enableEditItem; else elseBlockEditItemName" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <input #inputItemEditName type="text" class="form-control shadow-none" required autocomplete="off">
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">El nombre que tendrá tu proyecto</span>
                    </i>
                  </div>
                  <div *ngIf="nameError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{nameError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockEditItemName>
                  <div class="col-6 ps-2">
                    {{project.name}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Descripción:
                </div>
                <div *ngIf="enableEditItem; else elseBlockEditItemDescription" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <textarea #inputItemEditDescription class="form-control shadow-none" rows="3"></textarea>
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">La descripción que tendrá tu proyecto</span>
                    </i>
                  </div>
                  <div *ngIf="descriptionError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{descriptionError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockEditItemDescription>
                  <div class="col-6 ps-2">
                    {{project.description}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Estado:
                </div>
                <div class="col-6 ps-2">
                  {{project.id_projectStatus.label}}
                </div>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Fecha de inicio:
                </div>
                <div *ngIf="enableEditItem; else elseBlockEditItemStartDate" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <input #inputItemEditStartDate type="date" class="form-control shadow-none">
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">La fecha planeada en la que el proyecto será iniciado</span>
                    </i>
                  </div>
                  <div *ngIf="startDateError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{startDateError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockEditItemStartDate>
                  <div class="col-6 ps-2">
                    {{UTCToChileTime(project.start_date, true)}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Fecha de termino:
                </div>
                <div *ngIf="enableEditItem; else elseBlockEditItemEndDate" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <input #inputItemEditEndDate type="date" class="form-control shadow-none">
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">La fecha planeada en la que el proyecto será terminado</span>
                    </i>
                  </div>
                  <div *ngIf="endDateError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{endDateError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockEditItemEndDate>
                  <div class="col-6 ps-2">
                    {{UTCToChileTime(project.end_date, true)}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Región:
                </div>
                <div *ngIf="enableEditItem; else elseBlockEditItemRegion" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <select #selectItemEditRegion class="form-select shadow-none">
                      <option *ngFor="let item of regions;" value="{{item['name']}}">{{item['label']}}</option>
                    </select>
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">La región donde se realizará el proyecto</span>
                    </i>
                  </div>
                </div>
                <ng-template #elseBlockEditItemRegion>
                  <div class="col-6 ps-2">
                    {{project.id_city.id_region.label}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Ciudad:
                </div>
                <div *ngIf="enableEditItem; else elseBlockEditItemCity" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <select #selectItemEditCity class="form-select shadow-none">
                      <option *ngFor="let item of citiesAUX;" value="{{item['name']}}">{{item['label']}}</option>
                    </select>
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">La ciudad donde se realizará el proyecto</span>
                    </i>
                  </div>
                </div>
                <ng-template #elseBlockEditItemCity>
                  <div class="col-6 ps-2">
                    {{project.id_city.label}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Sede:
                </div>
                <div *ngIf="enableEditItem; else elseBlockEditItemHeadquarter" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <select #selectItemEditHeadquarter class="form-select shadow-none">
                      <option *ngFor="let item of headquarters;" value="{{item['name']}}">{{item['label']}}</option>
                    </select>
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">La sede a la que esta dirigida la solicitud</span>
                    </i>
                  </div>
                </div>
                <ng-template #elseBlockEditItemHeadquarter>
                  <div class="col-6 ps-2">
                    {{project.id_career.id_headquarter.label}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Facultad:
                </div>
                <div *ngIf="enableEditItem; else elseBlockEditItemFaculty" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <select #selectItemEditFaculty class="form-select shadow-none">
                      <option *ngFor="let item of faculties;" value="{{item['name']}}">{{item['label']}}</option>
                    </select>
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">La facultad a la que esta dirigida la solicitud</span>
                    </i>
                  </div>
                </div>
                <ng-template #elseBlockEditItemFaculty>
                  <div class="col-6 ps-2">
                    {{project.id_career.id_faculty.label}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Carrera:
                </div>
                <div *ngIf="enableEditItem; else elseBlockEditItemCareer" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <select #selectItemEditCareer class="form-control form-select shadow-none">
                      <option *ngFor="let item of careersAUX;" value="{{item['name']}}">{{item['label']}}</option>
                    </select>
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">La carrera a la que esta dirigida la solicitud</span>
                    </i>
                  </div>
                  <div *ngIf="careerError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{careerError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockEditItemCareer>
                  <div class="col-6 ps-2">
                    {{project.id_career.label}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Creado en:
                </div>
                <div class="col-6 ps-2">
                  {{UTCToChileTime(project.created_at, false)}}
                </div>
              </div>
            </div>
          </div>
        </div>-
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlockViewLoaded>
    <div class="loading">
      <svg viewBox="0 0 50 50" class="spinner">
        <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
      </svg>
    </div>
  </ng-template>
</div>