<div class="container content">
	<app-breadcrumb [listPages]="pages" [titlePage]="title"></app-breadcrumb>
	<h1 class="mb-3">{{title}}</h1>
  <div class="row mb-2">
    <div class="col-3">
      
    </div>
    <div class="col-6">

    </div>
    <div class="col-3 d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-user-delete" (click)="ngOnDeleteHeadquarter()"><i class="bi bi-gear-fill"></i>Eliminar</button>
      <button type="button" class="btn btn-user-edit" (click)="ngOnEditHeadquarter()"><i class="bi bi-gear-fill"></i>Editar</button>
    </div>
  </div>
    <div class="row">
        <div class="col-4">
            <div class="card profile-basic-info me-2 p-3 shadow">
              <div *ngIf="isHeadquarterLoaded; else elseBlockOnUserLoaded">
          <div class="text-center mt-2 mb-3">
            <h2 class="user-fullname">{{headquarter.label}}</h2>
          </div>
          <div class="row mb-2">
            <div class="col-4">
              ID:
            </div>
            <div class="col-8">
              {{headquarter.id}}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4">
              Nombre:
            </div>
            <div class="col-8">
              {{headquarter.name}}
            </div>
          </div>
        </div>
        <ng-template #elseBlockOnUserLoaded>
          <svg viewBox="0 0 50 50" class="spinner">
            <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
          </svg>
        </ng-template>
            </div>
        </div>
        <div class="col-8">
      <div class="row mb-2">
        <div class="card profile-general-info ms-2 shadow">
          <div class="card-header"><i class="bi bi-stack"></i>Información General</div>
          <div class="card-body">
            <div *ngIf="isHeadquarterLoaded; else elseBlockOnUserLoaded">
              <div class="row mb-2">
                <div class="col-6 pe-2">
                  ID:
                </div>
                <div class="col-6 ps-2">
                  {{headquarter.id}}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6 pe-2">
                  Nombre:
                </div>
                <div class="col-6 ps-2">
                  {{headquarter.name}}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6 pe-2">
                  Etiqueta:
                </div>
                <div class="col-6 ps-2">
                  {{headquarter.label}}
                </div>
              </div>
            </div>
            <ng-template #elseBlockOnUserLoaded>
              <svg viewBox="0 0 50 50" class="spinner">
                <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
              </svg>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="card profile-general-info ms-2 shadow">
          <div class="card-header"><i class="bi bi-stack"></i>Otra información</div>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-6 pe-2">
                Facultades en la sede:
              </div>
              <div class="col-6 ps-2">
                0
              </div>
            </div>
            <div class="row mb-2">
                <div class="col-6 pe-2">
                  Carreras en la sede:
                </div>
                <div class="col-6 ps-2">
                  0
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>