.background {
  height: auto;
  width: 100%;
  background-color: #1E3F85;
  background-size: cover;
  margin-top: 80px;
}

.big-holder {
  position: relative;
  height: 600px;
  background-image: url(../../assets/img/cover.jpg);
  background-size: cover;
  background-position: center;
}

.big-holder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen con una capa negra semi-transparente */
  z-index: 1; /* Asegúrate de que esté por encima de la imagen pero debajo del contenido */
}

.big-holder::after {
  content: '';
  position: absolute;
  top: 50%; /* Ajusta para definir desde dónde comienza el gradiente */
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(30, 63, 133, 1) 100%);
  z-index: 2; /* El gradiente debe estar encima de la capa oscura */
  pointer-events: none; /* Permite que los eventos pasen a la imagen */
}

.holder-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3; /* Asegúrate de que el contenido esté por encima de todo */
  margin-top: 80px;
}

.holder {
  width: 100%;
  height: auto;
  transform: translateY(-100px);
}

.holder-start {
  font-size: 40px;
  color: #E5E8E8 !important;
  line-height: 1;
  text-shadow: 1px 1px 1px #1a2b32;
}

.holder-couting {
  color: #E5E8E8 !important;
}

.holder-end {
  display: flex;
  flex-direction: column;
}

.btn-request-course {
  background-color: #1E3F85;
  color: #E5E8E8;
  height: 80px;
  margin-bottom: 35px;
  border: 2px solid #2853B1;
  box-shadow: 0px 0px 3px #2853B1;
}

.btn-request-course:hover {
  background-color: #2853B1;
}

.btn-show-courses {
  background-color: #1E3F85;
  color: #E5E8E8;
  height: 40px;
  border: 2px solid #E5E8E8;
}

.btn-show-courses:hover {
  background-color: #E5E8E8;
  color: #1E2124;
}

.bottom-text {
  position: absolute;
  bottom: 30px; /* Ajusta según sea necesario */
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3; /* Asegúrate de que esté por encima del gradiente */
  font-size: 20px;
}

.bottom-text p {
  color: #E5E8E8 !important;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.card {
  background-color: #E5E8E8;
  border-radius: 3px;
  padding: 20px;
  width: 200px;
  text-align: left;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 24px;
}

h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.4;
}

.result {
  margin-top: 40px;
  font-size: 30px;
  color: #ccc;
}