
  <div class="dark-image big-holder">
    <section class="container holder-container d-flex justify-content-center align-items-center">
      <div class="holder">
        <div class="row d-flex justify-content-between">
          <div class="col-6 d-flex justify-content-start">
            <p class="holder-start">
              <strong>Potencia</strong> tu futuro en la <strong>Universidad Católica del Maule</strong>. Inscríbete en nuestros <strong>cursos</strong> y desarrolla nuevas <strong>habilidades</strong>.
            </p>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <div class="holder-end">
              <p class="holder-couting mb-5">¡Únete a las 0 personas que ya han realizado cursos con nosotros!</p>
              <button id="buttonRequestCourse" type="button" class="btn btn-request-course">SOLICITAR UN CURSO</button>
              <button type="button" class="btn btn-show-courses"  [routerLink]="['/course']">VER CURSOS DISPONIBLES</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-text">
        <p>Desarrolla tu potencial con nuestros programas de aprendizaje continuo, diseñados para impulsar tu crecimiento profesional. Descubre nuevas habilidades, amplía tus conocimientos y alcanza tus metas con el apoyo de expertos en diversas áreas. ¡El futuro de tu éxito comienza hoy!</p>
      </div>
    </section>
  </div>
  <section class="container">
    <h2 class="mb-5 text-white">Lo que tenemos para ti</h2>
    <div class="cards">
        <div class="card" >
            <h3>Capacitación</h3>
            <p>Diseñado para mejorar las habilidades técnicas y prácticas para la comunidad.</p>
        </div>
        <div class="card">
            <h3>Inclusión</h3>
            <p>Diseñado para fomentar una cultura inclusiva en la comunidad.</p>
        </div>
        <div class="card">
            <h3>Cursos Gratuitos</h3>
            <p>La universidad ofrece una serie de cursos gratuitos dirigidos a la comunidad.</p>
        </div>
        <div class="card">
            <h3>Sostenibilidad</h3>
            <p>Enfocado en la importancia de la prácticas sostenibles para la comunidad.</p>
        </div>
    </div>
    <p class="result text-white">¡Lo que da como resultado proporcionar un servicio de calidad y especializado!</p>
</section>