.big-holder {
  position: relative;
  height: 600px;
  background-image: url(../../assets/img/cover.jpg);
  background-size: cover;
  background-position: center;
}

.big-holder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Oscurece la imagen con una capa negra semi-transparente */
  z-index: 1; /* Asegúrate de que esté por encima de la imagen pero debajo del contenido */
}

.big-holder::after {
  content: '';
  position: absolute;
  top: 50%; /* Ajusta para definir desde dónde comienza el gradiente */
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
  z-index: 2; /* El gradiente debe estar encima de la capa oscura */
  pointer-events: none; /* Permite que los eventos pasen a la imagen */
}

.holder-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3; /* Asegúrate de que el contenido esté por encima de todo */
}

.holder {
  width: 100%;
  height: auto;
  transform: translateY(-100px);
}

.holder-start {
  font-size: 40px;
  color: #E5E8E8 !important;
  line-height: 1;
  text-shadow: 1px 1px 1px black;
}

.holder-couting {
  color: #E5E8E8 !important;
  text-shadow: 1px 1px 1px black;
}

.holder-end {
  display: flex;
  flex-direction: column;
}

.btn-request-course {
  background-color: #1E3F85;
  color: #E5E8E8;
  height: 80px;
  margin-bottom: 35px;
}

.btn-request-course:hover {
  background-color: #2853B1;
}

.btn-show-courses {
  background-color: #1E3F85;
  color: #E5E8E8;
  height: 40px;
}

.btn-show-courses:hover {
  background-color: #2853B1;
}