.content {
  flex: 1;
  margin-top: 80px;
  padding: 20px;
  background-color: #F5F5F5;
  min-height: calc(100vh - 300px);
}

.profile-basic-info {
  height: auto;
}

.profile-general-info {
  height: auto;
}

.spinner {
  animation: rotation 2s linear infinite;
  z-index: 10;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px
}

.spinner .path {
  stroke: #1E3F85;
  stroke-linecap: round;
  animation: spinner 1.5s ease-in-out infinite
}

@keyframes rotation {
  to {
      transform: rotate(360deg)
  }
}

@keyframes spinner {
  0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0
  }

  50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35
  }

  to {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124
  }
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .user-fullname {
  font-size: 24px;
}

.btn-configure {
  background-color: #1E3F85;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-configure:hover, .btn-configure:active {
  background-color: #152b5c;
  color: #f5f5f5;
}

.btn-discard-changes {
  background-color: #DC3545;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-discard-changes:hover, .btn-discard-changes:active {
  background-color: #bb2d3b;
  color: #f5f5f5;
}