<div class="container content">
	<app-breadcrumb [listPages]="pages" [titlePage]="title"></app-breadcrumb>
	<h1 class="mb-3">{{title}}</h1>
	<div class="row">
		<div class="card mt-3 mb-3">
			<div class="card-header"><i class="bi bi-pencil-fill"></i>Administrar</div>
			<div class="card-body">
			  <div class="row mb-2">
          <div class="col-4 pe-2">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/user']"><i class="bi bi-people-fill"></i>Usuarios</button>
            </div>
          </div>
          <div class="col-4 ps-1 pe-1">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/role']"><i class="bi bi-person-lines-fill"></i>Roles</button>
            </div>
          </div>
          <div class="col-4 ps-2">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/student-volunteer']"><i class="bi bi-person-plus-fill"></i>Alumnos voluntarios</button>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4 pe-2">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/headquarter']"><i class="bi bi-building-fill"></i>Sedes</button>
            </div>
          </div>
          <div class="col-4 ps-1 pe-1">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/faculty']"><i class="bi bi-mortarboard-fill"></i>Facultades</button>
            </div>
          </div>
          <div class="col-4 ps-2">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/career']"><i class="bi bi-book-fill"></i>Carreras</button>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4 pe-2">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/project']"><i class="bi bi-file-post"></i>Proyectos</button>
            </div>
          </div>
          <div class="col-4 ps-1 pe-1">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/apu']"><i class="bi bi-box-seam-fill"></i>APU</button>
            </div>
          </div>
          <div class="col-4 ps-2">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/resource']"><i class="bi bi-box-fill"></i>Recursos</button>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4 pe-2">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-panel-manage"  [routerLink]="['/panel/manage/quotation']"><i class="bi bi-cash-coin"></i>Cotizaciones</button>
            </div>
          </div>
        </div>
			</div>
		</div>

    <div class="card mt-3 mb-3">
			<div class="card-header"><i class="bi bi-bar-chart-line-fill"></i>Estadisticas generales</div>
			<div class="card-body">
			  <div class="row mb-2">
          <div class="col-6 pe-2">
            <div class="charts-height">
              <ng-template [ngIf]="isChartUsersLoaded" [ngIfElse]="elseChartsUsersBlock">
                <div echarts [options]="chartOptionsUsers"></div>
              </ng-template>
              <ng-template #elseChartsUsersBlock>
                <svg viewBox="0 0 50 50" class="spinner">
                  <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
                </svg>
              </ng-template>
            </div>
          </div>
          <div class="col-6 ps-2">
            <div class="charts-height">
              <ng-template [ngIf]="isChartProjectsLoaded" [ngIfElse]="elseChartsProjectsBlock">
                <div echarts [options]="chartOptionProjects"></div>
              </ng-template>
              <ng-template #elseChartsProjectsBlock>
                <svg viewBox="0 0 50 50" class="spinner">
                  <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
                </svg>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="row">
          <div #chartPopularCareerDOM echarts [options]="chartOptionPopularCareer"></div>
        </div>
			</div>
		</div>
	</div>
</div>