
  <div class="container">
    <div class="navbar-logo">
      <img src="../../../assets/img/logoucm.png" alt="Logo" width="180" class="d-inline-block align-text-top">
    </div>

    <ng-template [ngIf]="!panelView" [ngIfElse]="elseBlockViewPanel">
      <ul class="navbar-menu">
        <li class="nav-item">
          <a #home class="nav-link" [routerLink]="['/']" (click)="ngOnChangeNavbarActive('home')">Inicio</a>
        </li>
        <li class="nav-item">
          <a #requestProject class="nav-link" [routerLink]="['/request-project']" (click)="ngOnChangeNavbarActive('request-project')">Solicitar proyecto</a>
        </li>
        <li class="nav-item">
          <a #projects class="nav-link act" [routerLink]="['/project']" (click)="ngOnChangeNavbarActive('project')">Mis proyectos</a>
        </li>
      </ul>
    </ng-template>
    <ng-template #elseBlockViewPanel>
      <ul class="navbar-menu">
        <li class="nav-item">
          <a #panel class="nav-link" [routerLink]="['/panel']" (click)="ngOnChangeNavbarActive('panel')">Panel de administración</a>
        </li>
      </ul>
    </ng-template>

    <div class="navbar-profile">
      <ng-template [ngIf]="isLogged" [ngIfElse]="elseBlockViewLoggin">
          <div class="user-options dropdown">
            <button class="btn user-btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="user-image-container">
                <img src={{image}} alt="User Image" class="user-image">
              </div>
              <div class="user-username">
                <span>{{name}}</span>
              </div>
            </button>
            <ul class="user-options-menu pop-in dropdown-menu">
              <li><a class="user-option-item dropdown-item d-flex justify-content-between" [routerLink]="['/profile']">Perfil<i class="bi bi-pencil-square"></i></a></li>
              <li><a class="user-option-item dropdown-item d-flex justify-content-between leave" (click)="ngOnClickLogout()">Salir<i class="bi bi-box-arrow-right"></i></a></li>
            </ul>
          </div>
      </ng-template>
      <ng-template #elseBlockViewLoggin>
        <div class="d-flex flex-row-reverse gap-2">
          <button class="btn btn-primary" type="button" [routerLink]="['/register']">Registrarse</button>
          <button class="btn btn-outline-primary me-2" type="button" [routerLink]="['/login']">Ingresar</button>
        </div>
      </ng-template>
    </div>
</div>