<div class="container content">
  <app-breadcrumb [listPages]="pages" [titlePage]="title"></app-breadcrumb>
	<h1>{{title}}</h1>
	<div class="row mb-2">
		<div class="label-form col-2">
			<p class="mt-1">Nombre del proyecto:</p>
		</div>
		<div class="col-4 pe-2">
			<input type="text" #inputRequestProjectName class="form-control shadow-none" required autocomplete="off" placeholder="Nombre del proyecto">
			<div *ngIf="nameError !== ''">
				<div class="message-error-container d-flex align-items-center">
				  <p>{{nameError}}</p>
				</div>
			</div>
		</div>
		<div class="col-6 ps-2">
			<div class="accordion" id="accordionExample1">
				<div class="accordion-item ">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							<i class="bi bi-question-circle me-2"></i>Nombre del proyecto
							<div class="icon"><i class="bi bi-chevron-down"></i></div>
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
						<div class="accordion-body">
							En este campos podrás decidir el nombre con el cual tu proyecto será llamado.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row mb-2">
		<div class="label-form col-2">
			<p class="mt-1">Sede:</p>
		</div>
		<div class="col-4 pe-2">
			<select #selectRequestProjectHeadquarter class="form-control form-select" aria-label="Default select example">
				<option selected hidden value="">Elige una sede</option>
				<option *ngFor="let item of headquarters;" value="{{item['name']}}">{{item['label']}}</option>
			</select>
      <div *ngIf="headquarterError !== ''">
				<div class="message-error-container d-flex align-items-center">
				  <p>{{headquarterError}}</p>
				</div>
			</div>
		</div>
		<div class="col-6 ps-2">
			<div class="accordion" id="accordionExample2">
				<div class="accordion-item ">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<i class="bi bi-question-circle me-2"></i>Sede
							<div class="icon"><i class="bi bi-chevron-down"></i></div>
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
						<div class="accordion-body">
							En este campo podrás decidir a que sede será dirigida tu solicitud, actualmente la Universidad Católica del Maule cuenta con tres sedes las cuales son:
              <div>
                <ul>
                  <li>Campus San Miguel - Talca</li>
                  <li>Campus Nuestra Señora del Carmen - Curicó</li>
                  <li>Campus San Isidro - Curicó</li>
                </ul>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row mb-2">
		<div class="label-form col-2">
			<p class="mt-1">Facultad:</p>
		</div>
		<div class="col-4 pe-2">
			<select #selectRequestProjectFaculty class="form-control form-select" aria-label="Default select example">
				<option selected hidden value="">Elige una facultad</option>
				<option *ngFor="let item of faculties;" value="{{item['name']}}">{{item['label']}}</option>
			</select>
      <div *ngIf="facultyError !== ''">
				<div class="message-error-container d-flex align-items-center">
				  <p>{{facultyError}}</p>
				</div>
			</div>
		</div>
		<div class="col-6 ps-2">
			<div class="accordion" id="accordionExample3">
				<div class="accordion-item ">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							<i class="bi bi-question-circle me-2"></i>Facultad
							<div class="icon"><i class="bi bi-chevron-down"></i></div>
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample3">
						<div class="accordion-body">
							En este campo podrás decidir a que facultad de la Universidad será dirigida tu solicitud.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row mb-2">
		<div class="label-form col-2">
			<p class="mt-1">Carrera:</p>
		</div>
		<div class="col-4 pe-2">
			<select #selectRequestProjectCareer disabled class="form-control form-select disabled" aria-label="Default select example">
				<option selected hidden value="">Elige una carrera</option>
				<option *ngFor="let item of careers;" value="{{item['name']}}">{{item['label']}}</option>
			</select>
      <div *ngIf="careerError !== ''">
				<div class="message-error-container d-flex align-items-center">
				  <p>{{careerError}}</p>
				</div>
			</div>
		</div>
		<div class="col-6 ps-2">
			<div class="accordion" id="accordionExample4">
				<div class="accordion-item ">
					<h2 class="accordion-header" id="headingFour">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							<i class="bi bi-question-circle me-2"></i>Carrera
							<div class="icon"><i class="bi bi-chevron-down"></i></div>
						</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample4">
						<div class="accordion-body">
							En este campo podrás decidir a que carrera de la Universidad será dirigida tu solicitud.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-2">
		<div class="label-form col-2">
			<p class="mt-1">Region:</p>
		</div>
		<div class="col-4 pe-2">
			<select #selectRequestProjectRegion class="form-control form-select custom-select" aria-label="Default select example">
				<option selected hidden value="">Elige una region</option>
				<option *ngFor="let item of regions;" value="{{item['name']}}">{{item['label']}}</option>
			</select>
      <div *ngIf="regionError !== ''">
				<div class="message-error-container d-flex align-items-center">
				  <p>{{regionError}}</p>
				</div>
			</div>
		</div>
		<div class="col-6 ps-2">
			<div class="accordion" id="accordionExample5">
				<div class="accordion-item ">
					<h2 class="accordion-header" id="headingFive">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							<i class="bi bi-question-circle me-2"></i>Region
							<div class="icon"><i class="bi bi-chevron-down"></i></div>
						</button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample5">
						<div class="accordion-body">
							En este campo podrás decidir a que region se llevará a cabo el proyecto.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-2">
		<div class="label-form col-2">
			<p class="mt-1">Ciudad:</p>
		</div>
		<div class="col-4 pe-2">
			<select #selectRequestProjectCity disabled class="form-control form-select disabled" aria-label="Default select example">
				<option selected hidden value="">Elige una ciudad</option>
				<option *ngFor="let item of cities;" value="{{item['name']}}">{{item['label']}}</option>
			</select>
      <div *ngIf="cityError !== ''">
				<div class="message-error-container d-flex align-items-center">
				  <p>{{cityError}}</p>
				</div>
			</div>
		</div>
		<div class="col-6 ps-2">
			<div class="accordion" id="accordionExample6">
				<div class="accordion-item ">
					<h2 class="accordion-header" id="headingSix">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							<i class="bi bi-question-circle me-2"></i>Ciudad
							<div class="icon"><i class="bi bi-chevron-down"></i></div>
						</button>
					</h2>
					<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample6">
						<div class="accordion-body">
							En este campo podrás decidir a que ciudad dentro de la región seleccionada se llevará a cabo el proyecto.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row mb-2">
		<div class="label-form col-2">
			<p class="mt-1">Fecha inicio:</p>
		</div>
		<div class="col-4 pe-2">
			<input #inputRequestProjectStartDate type="date" class="form-control"/>
      <div *ngIf="startDateError !== ''">
				<div class="message-error-container d-flex align-items-center">
				  <p>{{startDateError}}</p>
				</div>
			</div>
		</div>
		<div class="col-6 ps-2">
			<div class="accordion" id="accordionExample7">
				<div class="accordion-item ">
					<h2 class="accordion-header" id="headingSeven">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
							<i class="bi bi-question-circle me-2"></i>Fecha inicio
							<div class="icon"><i class="bi bi-chevron-down"></i></div>
						</button>
					</h2>
					<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample7">
						<div class="accordion-body">
							En este campo podrás decidir la fecha en la cual dará inicio tu proyecto, no puedes elegir una fecha igual o anterior a la de hoy y se recomienda elegir un tiempo considerable para gestionar el proceso de la solicitud.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row mb-2">
		<div class="label-form col-2">
			<p class="mt-1">Fecha termino:</p>
		</div>
		<div class="col-4 pe-2">
      <input #inputRequestProjectEndDate type="date" class="form-control"/>
      <div *ngIf="endDateError !== ''">
				<div class="message-error-container d-flex align-items-center">
				  <p>{{endDateError}}</p>
				</div>
			</div>
		</div>
		<div class="col-6 ps-2">
			<div class="accordion" id="accordionExample8">
				<div class="accordion-item ">
					<h2 class="accordion-header" id="headingEight">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
							<i class="bi bi-question-circle me-2"></i>Fecha termino
							<div class="icon"><i class="bi bi-chevron-down"></i></div>
						</button>
					</h2>
					<div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample8">
						<div class="accordion-body">
							En este campo podrás decidir la fecha en la cual dará termino tu proyecto, no puedes elegir una fecha anterior a la seleccionada anteriormente en el inicio de tu proyecto.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class="label-form col-4">
					<p class="mt-1">Descripción del proyecto:</p>
				</div>
				<div class="col-8 pe-2">
					<textarea #textareaRequestProjectDescription class="form-control" rows="5" placeholder="Describe el proyecto" ></textarea>
          <div *ngIf="descriptionError !== ''">
            <div class="message-error-container d-flex align-items-center">
              <p>{{descriptionError}}</p>
            </div>
          </div>
				</div>
			</div>
			<div class="d-grid gap-2 col-6 mx-auto mt-5 pb-2">
				<button #buttonRequestProjectSubmit type="submit" class="btn btn-primary mb-2 justify-content-center">Enviar solicitud</button>
			</div>
		</div>
		<div class="col-6 ps-2">
			<div class="accordion" id="accordionExample9">
				<div class="accordion-item ">
					<h2 class="accordion-header" id="headingNine">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
							<i class="bi bi-question-circle me-2"></i>Descripción del proyecto
							<div class="icon"><i class="bi bi-chevron-down"></i></div>
						</button>
					</h2>
					<div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample9">
						<div class="accordion-body">
							En este campo podrás detallar tu proyecto, los recursos que necesitarás, el personal necesitado, etc.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>