<div class="container content">
	<app-breadcrumb [listPages]="pages" [titlePage]="title"></app-breadcrumb>
	<h1 class="mb-3">{{title}}</h1>
  <ng-template [ngIf]="isViewLoaded" [ngIfElse]="elseBlockViewLoaded">
    <div class="row mb-2">
      <ng-template [ngIf]="enableEditItem" [ngIfElse]="elseBlockEditItem">
        <div class="d-flex flex-row-reverse gap-2">
          <button type="button" class="btn btn-primary" (click)="ngOnEditItemSave()"><i class="bi bi-check-lg"></i>Guardar cambios</button>
          <button type="button" class="btn btn-secondary" (click)="ngOnEditItemCancel()"><i class="bi bi-x-lg"></i>Deshacer cambios</button>
        </div>
      </ng-template>
      <ng-template #elseBlockEditItem>
        <div class="d-flex flex-row-reverse gap-2">
          <button type="button" class="btn btn-edit-item" (click)="ngOnEditItem()"><i class="bi bi-pencil-square"></i>Editar</button>
          <button type="button" class="btn btn-delete-item" (click)="ngOnDeleteItem()"><i class="bi bi-trash-fill"></i>Eliminar</button>
        </div>
      </ng-template>
    </div>
      <div class="row">
        <div class="col-4">
          <div class="card profile-basic-info me-2 p-3 shadow">
            <div class="text-center mt-2 mb-3">
              <!-- <img class="profile-image rounded-circle" src="{{user.image}}" alt="Student Photo"> -->
              <h2 class="user-fullname">{{apu.label}}</h2>
            </div>
            <div class="row mb-2">
              <div class="col-4">
                ID:
              </div>
              <div class="col-8">
                {{apu.id}}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-4">
                Nombre:
              </div>
              <div class="col-8">
                {{apu.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row mb-2">
            <div class="card profile-general-info ms-2 shadow">
            <div class="card-header"><i class="bi bi-stack"></i>Información General</div>
            <div class="card-body">
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  ID:
                </div>
                <div class="col-6 ps-2">
                  {{apu.id}}
                </div>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Nombre:
                </div>
                <div class="col-6 ps-2">
                  <input *ngIf="enableEditItem; else elseBlockEditItemName" #inputItemEditName type="text" class="form-control-sm shadow-none" required autocomplete="off" (input)="nameIdentifier()">
                  <div *ngIf="nameError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{nameError}}</p>
                    </div>
                  </div>
                  <ng-template #elseBlockEditItemName>
                    {{apu.name}}
                  </ng-template>
                </div>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Etiqueta:
                </div>
                <div class="col-6 ps-2">
                  <input *ngIf="enableEditItem; else elseBlockEditItemLabel" #inputItemEditLabel type="text" class="form-control-sm shadow-none" required autocomplete="off">
                  <div *ngIf="labelError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{labelError}}</p>
                    </div>
                  </div>
                  <ng-template #elseBlockEditItemLabel>
                    {{apu.label}}
                  </ng-template>
                </div>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Descripción:
                </div>
                <div class="col-6 ps-2">
                  <input *ngIf="enableEditItem; else elseBlockEditItemDescription" #inputItemEditDescription type="text" class="form-control-sm shadow-none" required autocomplete="off" placeholder="Sin descripción">
                  <ng-template #elseBlockEditItemDescription>
                    {{checkDescription(apu.description)}}
                  </ng-template>
                </div>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Creado en:
                </div>
                <div class="col-6 ps-2">
                  {{UTCToChileTime(apu.created_at, false)}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="card profile-general-info ms-2 shadow">
            <div class="card-header"><i class="bi bi-stack"></i>Otra información</div>
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-6 pe-2">
                  x:
                </div>
                <div class="col-6 ps-2">
                  0
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="card profile-general-info ms-2 shadow">
            <div class="card-header"><i class="bi bi-stack"></i>Recursos Asociados</div>
            <div class="card-body">
              <div *ngFor="let item of APUResourcesAUX;" class="mb-2">
                <div class="apu-container d-flex justify-content-between align-items-center">
                  <div class="d-flex gap-2">
                    <i class="bi bi-box-fill"></i>{{item.id_resource.label}} - {{numberToPrice(item.id_resource.price)}}
                  </div>
                  <button *ngIf="enableEditItem" type="button" class="btn btn-delete-item" (click)="ngOnRemoveResource(item)"><i class="bi bi-x-circle-fill"></i>Eliminar</button>
                </div>
              </div>
              <div *ngIf="enableEditItem" class="add-apu d-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-primary" (click)="ngOnCreateModalAddResource()"><i class="bi bi-plus-circle"></i>Añadir recurso</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlockViewLoaded>
    <div class="loading">
      <svg viewBox="0 0 50 50" class="spinner">
        <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
      </svg>
    </div>
  </ng-template>
</div>

<div #modalAddResource class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Selecciona un recurso</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div #modalListResources class="row">
          <div *ngFor="let item of resources;" class="col-3 ps-2 pe-2 mb-2">
            <button type="button" class="btn btn-resource wrap-text" [attr.data-resource-id]="item.id" (click)="ngOnModalAddResource(item)">
              <i class="bi bi-box-fill"></i>{{item.label}}
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>