<div class="container content">
	<app-breadcrumb [listPages]="pages" [titlePage]="title"></app-breadcrumb>
	<h1 class="mb-3">{{title}}</h1>
  <div class="row mb-2">
    <div class="col-3">
      
    </div>
    <div class="col-6">

    </div>
    <div class="col-3 d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-user-delete" (click)="ngOnClickDeleteResource()"><i class="bi bi-gear-fill"></i>Eliminar</button>
      <button type="button" class="btn btn-user-edit" (click)="ngOnClickEditResource()"><i class="bi bi-gear-fill"></i>Editar</button>
    </div>
  </div>
    <div class="row">
        <div class="col-4">
            <div class="card profile-basic-info me-2 p-3 shadow">
              <div *ngIf="isAPULoaded; else elseBlockOnAPULoaded">
          <div class="text-center mt-2 mb-3">
            <h2 class="user-fullname">{{apu.label}}</h2>
          </div>
          <div class="row mb-2">
            <div class="col-4">
              ID:
            </div>
            <div class="col-8">
              {{apu.id}}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4">
              Nombre:
            </div>
            <div class="col-8">
              {{apu.name}}
            </div>
          </div>
        </div>
        <ng-template #elseBlockOnAPULoaded>
          <svg viewBox="0 0 50 50" class="spinner">
            <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
          </svg>
        </ng-template>
            </div>
        </div>
        <div class="col-8">
      <div class="row mb-2">
        <div class="card profile-general-info ms-2 shadow">
          <div class="card-header"><i class="bi bi-stack"></i>Información General</div>
          <div class="card-body">
            <div *ngIf="isAPULoaded; else elseBlockOnAPULoaded">
              <div class="row mb-2">
                <div class="col-6 pe-2">
                  ID:
                </div>
                <div class="col-6 ps-2">
                  {{apu.id}}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6 pe-2">
                  Nombre:
                </div>
                <div class="col-6 ps-2">
                  {{apu.name}}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6 pe-2">
                  Etiqueta:
                </div>
                <div class="col-6 ps-2">
                  {{apu.label}}
                </div>
              </div>
            </div>
            <ng-template #elseBlockOnAPULoaded>
              <svg viewBox="0 0 50 50" class="spinner">
                <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
              </svg>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="card profile-general-info ms-2 shadow">
          <div class="card-header"><i class="bi bi-stack"></i>Otra información</div>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-6 pe-2">
                X:
              </div>
              <div class="col-6 ps-2">
                0
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="card profile-general-info ms-2 shadow">
          <div class="card-header"><i class="bi bi-stack"></i>Recursos Asociados</div>
          <div class="card-body">
            <div *ngFor="let item of APUResources;" class="mb-2">
              <div class="apu-container d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2">
                  <i class="bi bi-box-fill"></i>{{item.id_resource.label}} x{{item.amount}}
                </div>
                <button type="button" class="btn btn-remove-resource-apu" (click)="ngOnClickOpenModal()"><i class="bi bi-x-circle-fill"></i>Eliminar</button>
              </div>
            </div>
            <div class="add-apu d-flex align-items-center justify-content-center">
              <button type="button" class="btn btn-add-resource" (click)="ngOnClickOpenModal()"><i class="bi bi-plus-circle-fill"></i>Añadir recurso</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #modalAddResource class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Selecciona un recurso</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div *ngFor="let item of resources;" class="col-3 ps-2 pe-2 mb-2">
            <button type="button" class="btn btn-add-resource-modal" (click)="ngOnClickSelectResource(item)">
              <i class="bi bi-box-fill"></i>{{item.label}}
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div #modalAddResourceAmount class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Cantidad de recursos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="label-form col-6">
            <p class="mt-1">Cantidad:</p>
          </div>
          <div class="col-6">
            <input #inputAmount type="text" class="form-control shadow-none" required autocomplete="off" placeholder="1" (input)="ngOnOnlyNumbers($event)">
            <div *ngIf="amountError !== ''">
              <div class="message-error-container d-flex align-items-center">
                <p>{{amountError}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
          <div>
            <button type="button" class="btn btn-primary" (click)="ngOnClickBackToSelectResource()">Volver</button>
          </div>
          <div class="d-flex gap-2">
            <button type="button" class="btn btn-primary" (click)="ngOnClickAddResource()">Añadir recurso</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
    </div>
  </div>
</div>