.background {
  height: 100%;
  width: auto;
  left: 0rem;
  background-image: linear-gradient(-105deg,#1E3F85,#00A1E1);
  position: fixed;
  background-size: cover;  
}

  
.container-to-center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-login {
  width: 800px;
  height: auto;
  background-color: #E5E8E8;
  border-radius: 3px;
}

.row-welcome {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row-welcome h3 {
  font-weight: bold;
  color: #FFFFFF;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row-welcome p {
  color: #AAAAAA;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-form-login {
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-form-login label {
  font-size: .8rem;
}

.label-form-login i {
  color: #e64646;
}

.form-control {
  border: none;
  background-color: #A6ACAf;
  border-radius: 3px;
  color: #1E2124;
}

.btn-login {
  width: 100%;
  background-color: #1E3F85;
  color: #E5E8E8;
  border: none;
  border-radius: 3px;
}

.btn-login:hover {
  background-color: #2853b1;
  color: #E5E8E8;
}

span {
  color: #E5E8E8;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pop-in {
  animation-name: pop-in;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.2s;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1.0, 1.0);
  }
}

.login-error label, .login-error span, .login-error i{
  color: #e64646 !important;
}

.bottom-card {
  width: 100%;
  height: 50px;
  align-items: center;
}

.back-card {
  font-size: 20px;
  margin-left: 20px;
  color: #1E2124;
}

.recovery-link {
  cursor: pointer;
}

.verify-code {
  width: 35px;
}