<div class="background">
  <div class="container-to-center">
    <div class="card-login pop-in shadow">
      <div class="row pb-2 pt-4 ps-5 pe-5">
        <div class="col-7 pe-2">
          <div class="row-welcome">
            <h3>Bienvenido de vuelta!</h3>
            <p>Estamos felices de que hayas vuelto</p>
          </div>
          <form>
              <div class="mb-2">
                <div *ngIf="failed; else elseBlockUsername">
                  <div class="login-error">
                    <label for="inputTextRUN" class="form-label">R.U.N.</label><i class="bi bi-dash-lg"></i><span>Username or password is invalid</span>
                  </div>
                </div>
                <ng-template #elseBlockUsername>
                  <div class="label-form-login">
                    <label for="inputTextRUN" class="form-label me-1">RUN</label>
                  </div>
                </ng-template>
                <input type="text" class="form-control shadow-none" id="inputTextRUN" required autocomplete="off" placeholder="Ingresa tu RUN">
              </div>
              <div class="mb-3">
                <div *ngIf="failed; else elseBlockPassword">
                  <div class="login-error">
                    <label for="inputTextPassword" class="form-label">CONTRASEÑA</label><i class="bi bi-dash-lg"></i><span>Username or password is invalid</span>
                  </div>
                </div>
                <ng-template #elseBlockPassword>
                  <div class="label-form-login">
                    <label for="inputTextPassword" class="form-label me-1">CONTRASEÑA</label>
                  </div>
                </ng-template>
                <input type="password" class="form-control shadow-none" id="inputTextPassword" required autocomplete="off" placeholder="Ingresa tu contraseña">
                <a [routerLink]="['/']">¿Olvidaste tu contraseña?</a>
              </div>

              <button type="submit" id="buttonSubmit" class="btn btn-login mb-2">Ingresar</button>
              <span>¿Necesitas una cuenta? </span> <a [routerLink]="['/register']">Registrate</a>
          </form>
        </div>
        <div class="col-5 d-flex justify-content-center align-items-center">
          <img src="../../assets/img/escudoucm.png" width="200" height="200">
        </div>
      </div>
      <div class="bottom-card d-flex flex-row bd-highlight">
        <a class="back-card" [routerLink]="['/']"><i class="bi bi-arrow-left"></i> Volver al inicio</a>
      </div>

    </div>
  </div>
</div>