<div class="background">
  <div class="container-to-center">
    <div class="card-login pop-in shadow">
      <div class="row pb-2 pt-4 ps-5 pe-5">
        <div class="col-7 pe-2">
          <div class="row-welcome">
            <h3>Bienvenido de vuelta!</h3>
            <p>Estamos felices de que hayas vuelto</p>
          </div>
          <form>
            <div class="mb-2">
              <div class="label-form-login">
                <label for="inputTextRUN" class="form-label me-1">RUN</label>
              </div>
              <input type="text" class="form-control shadow-none" id="inputTextRUN" required autocomplete="off" placeholder="Ingresa tu RUN">
              <div *ngIf="usernameError !== ''">
                <div class="message-error-container d-flex align-items-center">
                  <p>{{usernameError}}</p>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="label-form-login">
                <label for="inputTextPassword" class="form-label me-1">CONTRASEÑA</label>
              </div>
              <input type="password" class="form-control shadow-none" id="inputTextPassword" required autocomplete="off" placeholder="Ingresa tu contraseña">
              <div *ngIf="passwordError !== ''">
                <div class="message-error-container d-flex align-items-center">
                  <p>{{passwordError}}</p>
                </div>
              </div>
              <a [routerLink]="['/']">¿Olvidaste tu contraseña?</a>
            </div>

            <button type="submit" id="buttonSubmit" class="btn btn-login mb-2">Ingresar</button>
            <span>¿Necesitas una cuenta? </span> <a [routerLink]="['/register']">Registrate</a>
          </form>
        </div>
        <div class="col-5 d-flex justify-content-center align-items-center">
          <img src="../../assets/img/escudoucm.png" width="200" height="200">
        </div>
      </div>
      <div class="bottom-card d-flex flex-row bd-highlight">
        <a class="back-card" [routerLink]="['/']"><i class="bi bi-arrow-left"></i> Volver al inicio</a>
      </div>

    </div>
  </div>
</div>