<div class="container content">
	<app-breadcrumb [listPages]="pages" [titlePage]="title"></app-breadcrumb>
	<h1>{{title}}</h1>
  <div class="row mb-2">
    <div class="col">
      
    </div>
    <div *ngIf="enableEditInfo; else elseBlockOnUserEnableEdit" class="col-4 d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-secondary" (click)="ngOnEditUserProfileCancel()"><i class="bi bi-x-lg"></i>Deshacer cambios</button>
        <button type="button" class="btn btn-primary" (click)="ngOnEditUserProfileSave()"><i class="bi-check-lg"></i>Guardar cambios</button>
    </div>
    <ng-template #elseBlockOnUserEnableEdit>
      <div class="col-4 d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary" (click)="ngOnEditUserProfile()"><i class="bi bi-pencil-square"></i>Configuración</button>
      </div>
    </ng-template>
  </div>
	<div class="row">
		<div class="col-4">
			<div class="card profile-basic-info me-2 p-3 shadow">
				<div *ngIf="isUserLoaded; else elseBlockOnUserLoaded">
          <div class="text-center mt-2 mb-3">
            <img class="profile-image" src="{{user.image}}" alt="Student Photo">
            <h2 class="user-fullname">{{user.first_name}} {{user.last_name}}</h2>
          </div>
          <div class="row align-items-center mb-2">
            <div class="col-4">
              RUN:
            </div>
            <div class="col-8">
              {{user.username}}
            </div>
          </div>
        </div>
        <ng-template #elseBlockOnUserLoaded>
          <svg viewBox="0 0 50 50" class="spinner">
            <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
          </svg>
        </ng-template>
			</div>
		</div>
		<div class="col-8">
      <div class="row mb-2">
        <div class="card profile-general-info ms-2 shadow">
          <div class="card-header"><i class="bi bi-stack"></i>Información General</div>
          <div class="card-body">
            <div *ngIf="isUserLoaded; else elseBlockOnUserLoaded">
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  RUN:
                </div>
                <div class="col-6 ps-2">
                  {{user.username}}
                </div>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Contraseña:
                </div>
                <div *ngIf="enableEditInfo; else elseBlockOnUserEnableEditPassword" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <button type="button" class="btn btn-primary w-100" (click)="ngOnCreateModalChangePassword()">
                      <i class="bi bi-key-fill"></i>Cambiar contraseña
                    </button>
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">Cambiar nueva contraseña</span>
                    </i>
                  </div>
                </div>
                <ng-template #elseBlockOnUserEnableEditPassword>
                  <div class="col-6 ps-2">
                    ************
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Nombres:
                </div>
                <div *ngIf="enableEditInfo; else elseBlockOnUserEnableEditFirstName" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <input #inputUserEditFirstName type="text" class="form-control shadow-none" autocomplete="off">
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">Ingresa tus nombres</span>
                    </i>
                  </div>
                  <div *ngIf="firstNameError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{firstNameError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockOnUserEnableEditFirstName>
                  <div class="col-6 ps-2">
                    {{user.first_name}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Apellidos:
                </div>
                <div *ngIf="enableEditInfo; else elseBlockOnUserEnableEditLastName" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <input #inputUserEditLastName type="text" class="form-control shadow-none" autocomplete="off">
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">Ingresa tus apellidos</span>
                    </i>
                  </div>
                  <div *ngIf="lastNameError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{lastNameError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockOnUserEnableEditLastName>
                  <div class="col-6 ps-2">
                    {{user.last_name}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Correo electrónico:
                </div>
                <div *ngIf="enableEditInfo; else elseBlockOnUserEnableEditEmail" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <input #inputUserEditEmail type="text" class="form-control shadow-none" autocomplete="off">
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">Ingresa tu correo electrónico</span>
                    </i>
                  </div>
                  <div *ngIf="emailError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{emailError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockOnUserEnableEditEmail>
                  <div class="col-6 ps-2">
                    {{user.email}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Dirección:
                </div>
                <div *ngIf="enableEditInfo; else elseBlockOnUserEnableEditAddress" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <input #inputUserEditAddress type="text" class="form-control shadow-none" autocomplete="off">
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">Ingresa la dirección en la que vives</span>
                    </i>
                  </div>
                  <div *ngIf="addressError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{addressError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockOnUserEnableEditAddress>
                  <div class="col-6 ps-2">
                    {{checkField(user.address)}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Teléfono:
                </div>
                <div *ngIf="enableEditInfo; else elseBlockOnUserEnableEditPhone" class="col-6 ps-2">
                  <div class="d-flex gap-2 align-items-center">
                    <input #inputUserEditPhone type="text" class="form-control shadow-none" autocomplete="off" (input)="ngOnInputValidatePhone()">
                    <i class="bi bi-question-circle tooltip-info">
                      <span class="tooltiptext">Recuerda añadir el prefijo internacional del pais (+569) al momento de ingresar tu número telefonico</span>
                    </i>
                  </div>
                  <div *ngIf="phoneError !== ''">
                    <div class="message-error-container d-flex align-items-center">
                      <p>{{phoneError}}</p>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockOnUserEnableEditPhone>
                  <div class="col-6 ps-2">
                    {{checkField(user.phone)}}
                  </div>
                </ng-template>
              </div>
              <div class="row align-items-center mb-2">
                <div class="col-6 pe-2">
                  Creado en:
                </div>
                <div class="col-6 ps-2">
                  {{userCreateAt}}
                </div>
              </div>
            </div>
            <ng-template #elseBlockOnUserLoaded>
              <svg viewBox="0 0 50 50" class="spinner">
                <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
              </svg>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>


<div #modalChangePassword class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar contraseña</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="label-form col-6">
            <p class="mt-1">Nueva contraseña:</p>
          </div>
          <div class="col-6">
            <input #inputPassword type="password" class="form-control shadow-none" required autocomplete="off" placeholder="Ingresar contraseña">
            <div *ngIf="passwordError !== ''">
              <div class="message-error-container d-flex align-items-center">
                <p>{{passwordError}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="label-form col-6">
            <p class="mt-1">Repetir nueva contraseña:</p>
          </div>
          <div class="col-6">
            <input #inputRepeatPassword type="password" class="form-control shadow-none" required autocomplete="off" placeholder="Ingresar contraseña">
            <div *ngIf="repeatPasswordError !== ''">
              <div class="message-error-container d-flex align-items-center">
                <p>{{repeatPasswordError}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="ngOnModelChangePassword()">Cambiar contraseña</button>
      </div>
    </div>
  </div>
</div>
