<div class="container">
  <div class="row test-0 pt-3">
    <div class="col-7 d-flex flex-column test-1">
      <div class="container-title">
        <h1 class="title">Testing</h1>
      </div>
      <div class="search">
        <input type="text" class="form-control shadow-none" id="inputTextRUN" required autocomplete="off" placeholder="Buscar curso">
      </div>
    </div>
    <div class="col-5 test-2">
      sadad
    </div>
  </div>
  <div class="row test-3">
    asdas
  </div>
  <div class="container-popular-course">

  </div>
</div>