<div class="container content">
	<app-breadcrumb [listPages]="pages" [titlePage]="title"></app-breadcrumb>
	<h1 class="mb-3">{{title}}</h1>
  <ng-template [ngIf]="isViewLoaded" [ngIfElse]="elseBlockViewLoaded">
    <div class="row mb-2">
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-create-item" (click)="ngOnCreateModalItem()">Crear nueva APU</button>
        <div class="d-flex">
          <div class="input-group">
            <input #inputSearchItem type="text" class="form-control shadow-none" required autocomplete="off" placeholder="Buscar {{title.toLowerCase()}}" (keydown.enter)="ngOnSearchItem()">
            <button type="button" class="btn btn-clear" (click)="ngOnClearSearchItem()" *ngIf="isOnFilter">
              <i class="bi bi-x-circle"></i>
            </button>
            <button type="button" class="btn btn-search" (click)="ngOnSearchItem()">
              <i class="bi bi-search"></i>Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3 mb-3 height-list-user">
      <div class="card-header">{{title}}</div>
      <div class="card-body p-0">
        <ul class="list-group rounded-0">
          <div class="m-2 mb-0 row">
            <div class="col-1 text-center">ID</div>
            <div class="col-2 text-center">Nombre</div>
            <div class="col-4 text-center">Etiqueta</div>
            <div class="col-4 text-center">Descripción</div>
            <div class="col-1 text-center">Opciones</div>
          </div>
          <hr class="mb-2 mt-2">
  
          <div *ngFor="let item of paginationShowItems" class="m-2 row">
            <div class="col-1 text-center">{{item.id}}</div>
            <div class="col-2 text-center wrap-text">{{item.name}}</div>
            <div class="col-4 text-center wrap-text">{{item.label}}</div>
            <div class="col-4 text-center wrap-text">{{checkDescription(item.description)}}</div>
            <div class="col-1 text-center">
              <button type="button" class="btn btn-user-details btn-sm" (click)="ngOnItemDetails(item)">
                Ver detalles
              </button>
            </div>
          </div>
        </ul>
      </div>
    </div>
        
    <nav class="d-flex justify-content-end">
      <ul class="d-flex navigation-container justify-content-between">
          <li *ngIf="pagination === 1; then thenPaginationBackBlock else elsePaginationBackBlock"></li>
          <ng-template #thenPaginationBackBlock>
            <button type="button" class="btn btn-pagination shadow-none disabled" disabled>Anterior</button>
          </ng-template>
          <ng-template #elsePaginationBackBlock>
            <button type="button" class="btn btn-pagination shadow-none" (click)="ngOnPaginationBack()">Anterior</button>
          </ng-template>

        <div class="pages">
          <div *ngIf="isNavigationContainFirstPage || pagination === 1; else elseNavigationFirstPage">
          </div>
          <ng-template #elseNavigationFirstPage>
            <button class="btn btn-pagination shadow-none" (click)="ngOnPaginationItem(1)">1</button>
            <div class="pagination-dots">
              ...
            </div>
          </ng-template>
          <div *ngFor="let i of paginationListShow" class="page-item">
            <div *ngIf="pagination == i; then thenPaginationItemBlock else elsePaginationItemBlock"></div>
            <ng-template #thenPaginationItemBlock>
              <button type="button" class="btn btn-pagination shadow-none disabled" disabled>{{i}}</button>
            </ng-template>
            <ng-template #elsePaginationItemBlock>
              <button type="button" class="btn btn-pagination shadow-none" (click)="ngOnPaginationItem(i)">{{i}}</button>
            </ng-template>
          </div>
          <div *ngIf="isNavigationContainLastPage || pagination === paginationMax; else elseNavigationLastPage">
            
          </div>
          <ng-template #elseNavigationLastPage>
            <div class="pagination-dots">
              ...
            </div>
            <button class="btn btn-pagination shadow-none" (click)="ngOnPaginationItem(paginationMax)">{{paginationMax}}</button>
          </ng-template>
        </div>

        <div class="justify-content-end">
          <li *ngIf="pagination === paginationMax; then thenPaginationNextBlock else elsePaginationNextBlock"></li>
          <ng-template #thenPaginationNextBlock>
            <button class="btn btn-pagination shadow-none disabled" disabled>Siguiente</button>
          </ng-template>
          <ng-template #elsePaginationNextBlock>
            <button class="btn btn-pagination shadow-none" (click)="ngOnPaginationNext()">Siguiente</button>
          </ng-template>
        </div>
      </ul>
    </nav>
  
    <div class="card mt-3 mb-3">
      <div class="card-header">Estadisticas</div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-6 pe-2">
            <div class="charts-height">
              <!-- <ng-template [ngIf]="isChartUsersLoaded" [ngIfElse]="elseChartsUsersBlock">
                <div echarts [options]="chartUsers"></div>
              </ng-template>
              <ng-template #elseChartsUsersBlock>
                <svg viewBox="0 0 50 50" class="spinner">
                  <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
                </svg>
              </ng-template> -->
            </div>
          </div>
          <div class="col-6 ps-2">
            <div class="charts-height">
              <!-- <ng-template [ngIf]="isChartProjectsLoaded" [ngIfElse]="elseChartsProjectsBlock">
                <div echarts [options]="chartOptionProjects"></div>
              </ng-template>
              <ng-template #elseChartsProjectsBlock>
                <svg viewBox="0 0 50 50" class="spinner">
                  <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
                </svg>
              </ng-template> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlockViewLoaded>
    <div class="loading">
      <svg viewBox="0 0 50 50" class="spinner">
        <circle cx="25" cy="25" r="20" fill="none" stroke-width="5" class="path"></circle>
      </svg>
    </div>
  </ng-template>
</div>

<div #modalCreateItem class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear nuevo usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="label-form col-6">
            <p class="mt-1">Nombre:</p>
          </div>
          <div class="col-6">
            <input #inputName type="text" class="form-control shadow-none" required autocomplete="off" placeholder="Ingresa un identificador" (input)="nameIdentifier()">
            <div *ngIf="nameError !== ''">
              <div class="message-error-container d-flex align-items-center">
                <p>{{nameError}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="label-form col-6">
            <p class="mt-1">Etiqueta:</p>
          </div>
          <div class="col-6">
            <input #inputLabel type="text" class="form-control shadow-none" required autocomplete="off" placeholder="Ingresa una etiqueta">
            <div *ngIf="labelError !== ''">
              <div class="message-error-container d-flex align-items-center">
                <p>{{labelError}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="label-form col-6">
            <p class="mt-1">Descripción:</p>
          </div>
          <div class="col-6">
            <input #inputDescription type="text" class="form-control shadow-none" required autocomplete="off" placeholder="Ingresa una descripción">
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="ngOnModelCreateItem()">Crear APU</button>
      </div>
    </div>
  </div>
</div>