.background {
    height: 100%;
    width: 100%;
    left: 0rem;
    background-image: linear-gradient(-105deg,#1E3F85,#00A1E1);
    position: fixed;
    overflow: auto;
    background-size: cover;  
  }
  
  .content {
    width: 100%;
    height: 100vh;
    background-color: #E5E8E8;
  }